{% extends 'base.html.twig' %}

{% block body %}

    {% if employee is not defined %}
        <h1>Dodawanie nowego pracownika</h1>
    {% else %}
        <h1>Edycja pracownika</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('home') }}">Anuluj</a>

{% endblock %}
