{% extends 'base.html.twig' %}

{% block body %}

    <h1>Usuwanie pracownika</h1>

    <h2>Czy jesteś pewien? Tej operacji nie można odwrócić!</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}