{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista pracowników</h1>

    <div class="add">
        <button class="btn btn-success pull-right" onclick="window.location.href='{{ path('add_employee') }}'">
            Dodaj nowego pracownika
        </button>
    </div>

    <table class="table">
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Stanowisko</th>
            <th>Wynagrodzenie</th>
            <th>Data zatrudnienia</th>
            <th>Edycja</th>
            <th>Usuwanie</th>
        </tr>

        {% for employee in employees %}
            <tr>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.reward }}</td>
                <td>{{ employee.hireDate | date('Y-m-d')}}</td>
                <td>
                    <button class="btn btn-primary" onclick="window.location.href='{{ path('edit_employee', {
                        'id': employee.id
                    }) }}'">
                        Edycja
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="window.location.href='{{ path('delete_employee', {
                        'id': employee.id
                    }) }}'">
                        Usuwanie
                    </button>
                </td>
            </tr>
        {% endfor %}

    </table>

    <div class="navigation">
        {{ knp_pagination_render(employees) }}
    </div>

    {% for message in app.flashes('success') %}
        <script>
            alert('{{ message }}');
        </script>
    {% endfor %}

{% endblock %}

{% block stylesheets %}

    <style>

        .add
        {
            padding-bottom: 10px;
        }

    </style>

{% endblock %}